html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 0px;
}

.pageContent {
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  padding: 10px;
  background-color: #343a40;
  color: white;
}
